infrastructure/state-machine.json
{
  "Comment": "Remotion Render Workflow with Serial Execution",
  "StartAt": "TriggerRender",
  "States": {
    "TriggerRender": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:426353511560:function:remotion-render-worker",
        "Payload": {
          "action": "start",
          "exportId.$": "$.exportId",
          "projectId.$": "$.projectId",
          "userId.$": "$.userId",
          "renderConfig.$": "$.renderConfig"
        }
      },
      "ResultPath": "$.renderResult",
      "ResultSelector": {
        "statusCode.$": "$.StatusCode",
        "payload.$": "$.Payload"
      },
      "Next": "WaitForRender",
      "Retry": [{
        "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException"],
        "IntervalSeconds": 10,
        "MaxAttempts": 3,
        "BackoffRate": 2.0
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "RenderFailed"
      }]
    },
    "WaitForRender": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckRenderStatus"
    },
    "CheckRenderStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:426353511560:function:remotion-render-worker",
        "Payload": {
          "action": "check",
          "renderId.$": "$.renderResult.payload.renderId",
          "bucketName.$": "$.renderResult.payload.bucketName",
          "exportId.$": "$.exportId"
        }
      },
      "ResultPath": "$.statusResult",
      "ResultSelector": {
        "statusCode.$": "$.StatusCode",
        "payload.$": "$.Payload"
      },
      "Next": "IsRenderComplete",
      "Retry": [{
        "ErrorEquals": ["Lambda.TooManyRequestsException"],
        "IntervalSeconds": 5,
        "MaxAttempts": 10,
        "BackoffRate": 2.0
      }]
    },
    "IsRenderComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusResult.payload.done",
          "BooleanEquals": true,
          "Next": "RenderSuccess"
        },
        {
          "Variable": "$.statusResult.payload.failed",
          "BooleanEquals": true,
          "Next": "RenderFailed"
        }
      ],
      "Default": "WaitForRender"
    },
    "RenderSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:426353511560:function:remotion-render-worker",
        "Payload": {
          "action": "complete",
          "exportId.$": "$.exportId",
          "projectId.$": "$.projectId",
          "userId.$": "$.userId",
          "outputUrl.$": "$.statusResult.payload.outputFile",
          "renderId.$": "$.renderResult.payload.renderId",
          "bucketName.$": "$.renderResult.payload.bucketName"
        }
      },
      "End": true
    },
    "RenderFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:426353511560:function:remotion-render-worker",
        "Payload": {
          "action": "failed",
          "exportId.$": "$.exportId",
          "projectId.$": "$.projectId",
          "userId.$": "$.userId",
          "error.$": "$.statusResult.payload.error"
        }
      },
      "End": true
    }
  }
}
